@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
    font-weight: 100 900;
}

/*
background #141414
green #C4F82A
card #1F1F1F
item #333333
*/

body{
    background-color: #141414;
    color: white;
    font-family: "Inter", sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #1F1F1F;
    width: 350px;
    height: 550px;
    border-radius: 10px;
    padding: 20px;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 16px;
}

.info img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.info .name{
    font-weight: 600;
    font-size: 26px;
}

.info .location{
    font-weight: 600;
    font-size: 16px;
    color: #C4F82A;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    height: 100%;
    padding: 20px;
}

ul li{
    background-color: #333333;
    font-weight: 500;
    text-align: center;
    padding: 10px 100px;
    border-radius: 10px;
}

ul li:hover{
    background-color: #C4F82A;
    color: #1F1F1F;

}